html {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.col-lg-1.col-12,.my-5.ls-0.most-read-articles {
    display:none;
}

img {
    display:block;
    width:90%;
    max-width:100%;
    width: 100%;
    height: auto;
}
figure {
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding-top: 20px;
    margin: auto;
}

div.paywall-prompt,div.loading-indicator,li.d-flex.mb-2,div.article-footer.ls-0.d-flex.flex-wrap.flex-md-nowrap {
    display:none;
}
header {
    text-align: center
}
body {
    width: 90%;
    max-width: 780px;
    margin: auto;
    font-weight: 400;
    padding-bottom: 80px;
}
a {
    text-decoration: none;
    color: rgb(23, 136, 206);
}

h1 {
    margin-top:10px;
    font-family: Georgia;
    font-weight: 600;
    font-size:2rem;
}
h2 {
    font-size: 1.3rem;
    margin: -10 0 0 0;
    font-family: Georgia;
}
h3 {
    font-family: Helvetica, sans-serif;
    margin-top: 30;
    font-size: 1.1rem;
    text-transform: uppercase;
}
p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: adobe-caslon-pro;
    font-weight: 400;
}

.internal-blockquote.offset {
    font-family: adobe-caslon-pro;
    text-align: center;
    margin: 30px 0;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    border-top: 1px solid black;
    display:block;
    margin-block-start: 0.5rem;
}

.article-inline-img-block--caption {
    font-family: "Atlas Grotesk Web", sans-serif;
    font-size: 0.8rem;
}

.article-inline-img-block--photo-credit {
    color: gray;
    font-family: "Atlas Grotesk Web", sans-serif;
    font-size: 0.7rem;
}

.article-header--metadata-topic.align-self-center {
    display: none;

}
@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url("./assets/AtlasGrotesk-Regular-Web.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url("./assets/AtlasGrotesk-RegularItalic-Web.woff") format('woff');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: "adobe-caslon-pro";
    src: url("./assets/adobe-caslon-pro_normal.woff") format("woff");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "adobe-caslon-pro";
    src: url("./assets/adobe-caslon-pro_italic.woff") format("woff");
    font-display: swap;
    font-style: italic;
}
